body {
    background-color: #0af548;
}

.container {
    width: 700px;
    height: 600px;
    background-color: #f0ffff;
    margin: auto;
    position: absolute;
    left: 35%;
    top: 15%;
}

div.child {
    width: 250px;
    height: 140px;
    outline: black;
    position: relative;
    left: 10%;
    top: 13%;
    font-size: 16px;
    outline-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

div.solarpanel_roof img {
    outline-style: solid;
    width: auto;
    height: 200px;
    position: relative;
    left: 118%;
    top: -165px;
}
