@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: #0af548;
}

.container {
    width: 700px;
    height: 600px;
    background-color: #f0ffff;
    margin: auto;
    position: absolute;
    left: 35%;
    top: 15%;
}

div.solar_renewable {
    width: 250px;
    height: 140px;
    outline: black;
    position: relative;
    left: 10%;
    top: 13%;
    font-size: 16px;
    outline-style: solid;
    font-family: 'Lato', 'Open Sans', 'Roboto';
    text-align: center;
}

div.solarpanel_roof img {
    outline-style: solid;
    width: auto;
    height: 200px;
    position: relative;
    left: 118%;
    top: -165px;
}

div.business_model p {
    width: 300px;
    height: auto;
    outline-style: solid;
    font-family: 'Lato', 'Open Sans', 'Roboto';
    text-align: center;
    position: relative;
    bottom: 150px;
    left: 118%;
}